body {
    font-family: Arial, sans-serif;
    background-color: #b0dada;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #000000;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #12d33f;
}

#result button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
}

.option {
    border: 1px solid #ccc; /* Add a gray border */
    padding: 10px; /* Add padding to separate text from border */
    margin-bottom: 10px; /* Add space between each answer option */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #2532F4; /* Add white background color */
    transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.option:hover {
    background-color: #E266DE; /* Change background color on hover */
}
