@font-face {
  font-family: 'vanilla_camel';
  src: url('vanilla_caramel.otf');
  font-style: normal;
  font-weight: normal;
}
button{
  font-family: 'vanilla_camel';
  border-radius: 10px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(210, 9, 210);
  position:absolute;
  top:80%;
  left:11%;
  width:280px;
  height:70px;
  font-size:30px;
}

#titulo{
    display:flex;
    background-color:#5F8575;
    margin-top: 0%;
    position:fixed;
    width:100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 25px #461c50;
    background-color: purple;
    justify-content: center;
    font-family: 'vanilla_camel';
  }
#pos_titu{
  text-align: center;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  color: black;
  width:65%;
  height:50%;
  margin-bottom: 13px;
}
  
  
  #splash{
    background-color:lightblue;
    width:100%;
    height:100%;
  }
  
  #imglogo{
    position:absolute;
    top:40%;
    left:10%;
  }